html,
body {
    height: 100%;
    margin: 0;
}

.articles {
    border: 2px solid blue;
}

.form {
    border: 2px dotted red;
}

.articles-container {
    background-color: blue;
    text-align: center;
}

.entry{
    background-color: white;
    padding: 2% 1%;
    border: 2px solid pink;
}
